.bus{
    background-image:url('../img/사각형_64.png');
    background-repeat:no-repeat;
    top: 80px;
    left: 0px;
    width: 1920px;
    height: 300px;
    
}
.bus h2{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 40px/58px var(--unnamed-font-family-noto-sans-kr);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: center;
    font: normal normal bold 40px/58px Noto Sans KR;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: relative;
    top: 50%;
}

:root {

    /* Colors: */
    --unnamed-color-000000: #000000;
    --unnamed-color-aeaeae: #AEAEAE;
    
    /* Font/text values */
    --unnamed-font-family-noto-sans-kr: Noto Sans KR;
    --unnamed-font-style-normal: normal;
    --unnamed-font-weight-bold: bold;
    --unnamed-font-weight-normal: normal;
    --unnamed-font-size-30: 30px;
    --unnamed-font-size-50: 50px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-line-spacing-44: 44px;
    --unnamed-line-spacing-72: 72px;
    }
    
    /* Character Styles */
    .unnamed-character-style-1 {
    font-family: var(--unnamed-font-family-noto-sans-kr);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-50);
    line-height: var(--unnamed-line-spacing-72);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-aeaeae);
    }
    .unnamed-character-style-2 {
    font-family: var(--unnamed-font-family-noto-sans-kr);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-50);
    line-height: var(--unnamed-line-spacing-72);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    }
    .unnamed-character-style-3 {
    font-family: var(--unnamed-font-family-noto-sans-kr);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-30);
    line-height: var(--unnamed-line-spacing-44);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    }
    .unnamed-character-style-4 {
    font-family: var(--unnamed-font-family-noto-sans-kr);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-30);
    line-height: var(--unnamed-line-spacing-44);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    }